@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: #fff;
}

header {
    height: 100vh;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border-bottom: 1px solid #999;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 30%;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.hero-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 90%;
}

.more-btn {
    outline: none;
    padding: 1rem;
    border: none;
    border-radius: 1.5rem;
    background-color: #580000;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.image-container{
    border: 1rem solid rgb(0, 0, 0);
    padding: .5rem;
    border-radius: 1rem;
    margin: 1rem;
    width: 30%;
    height: 350px;
    overflow: hidden;
}

.image-container img {
    height: 100%;
    object-fit: cover;
}

.hero-section p {
    color: #999;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

span {
    color: #580000;
}

#contact {
    margin: 1rem;
    height: 70vh;
}

.copyrights-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

#contact form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    gap: 1rem;
}

#contact input {
    width: 50%;
    padding: 1rem;
    border: 1px solid #999;
    border-radius: 5px;
}

#contact textarea {
    width: 50%;
    padding: 1rem;
    border: 1px solid #999;
    border-radius: 5px;
    height: 50vh;
}

#contact button {
    padding: 1rem;
    border: 1px solid #999;
    border-radius: 5px;
    background-color: #580000;
    color: white;
}

#contact input:focus, #contact textarea:focus{
    outline: none;
    transition: 0.3s;
    border: 1px solid #580000;
}

#contact button:hover {
    background-color: #999;
    color: #580000;
}